<div class="container">
	<h1>Pages#about</h1>
	<p>Find me in app/views/pages/about.html.erb</p>

	<%= link_to "<span class='fa fa-envelope'></span> Link".html_safe, "http://railsinstaller.org" %>

	<div class="row">
		<div class="col-md-4">
			<div class="jumbotron">
				<p>loregvsd h asjdkvasuhjkd asd fasndj asouidjnshigdbk asdgiashj</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="jumbotron">
				<p>loregvsd h asjdkvasuhjkd asd fasndj asouidjnshigdbk asdgiashj</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="jumbotron">
				<p>loregvsd h asjdkvasuhjkd asd fasndj asouidjnshigdbk asdgiashj</p>
			</div>
		</div>
	</div>
</div>